<div class="button-container">
  <%= link_to "顧客登録", new_customer_path, class: "btn btn-warning btn-lg" %>
  <%= link_to "顧客一覧", customers_path, class: "btn btn-warning btn-lg" %>
  <%= link_to "予約作成", new_reservation_request_path, class: "btn btn-warning btn-lg" %>
  <%= link_to "予約一覧", reservation_requests_path, class: "btn btn-warning btn-lg" %>
</div>