
    <h1>プライバシーポリシー</h1>
    <p>
        このプライバシーポリシーは、[アプリ名]（以下、「当社」、「私たち」、「我々」）による顧客情報の収集、使用、開示、および保護に関する方針を説明します。
    </p>

    <h2>収集される情報</h2>
    <p>
        当社は、以下のような情報を収集することがあります：
    </p>
    <ul>
        <li>お名前</li>
        <li>連絡先情報（メールアドレス、電話番号など）</li>
        <li>その他の個人情報（生年月日、性別など）</li>
    </ul>

    <h2>情報の使用</h2>
    <p>
        当社は収集した情報を以下の目的で使用することがあります：
    </p>
    <ul>
        <li>顧客サービス提供</li>
        <li>サポート提供</li>
        <li>カスタマイズされた体験提供</li>
        <li>新しいサービスや製品の提供</li>
        <li>法的要件の遵守</li>
    </ul>

    <h2>情報の共有</h2>
    <p>
        当社は、以下の状況で情報を第三者と共有することがあります：
    </p>
    <ul>
        <li>顧客の同意が得られた場合</li>
        <li>法的要件のため</li>
        <li>サービス提供業者との契約に基づいて</li>
    </ul>

    <h2>セキュリティ</h2>
    <p>
        当社は情報のセキュリティに重要な注意を払い、情報の紛失、不正アクセス、変更、または開示を防ぎます。
    </p>

    <h2>お問い合わせ</h2>
    <p>
        プライバシーポリシーに関する質問や懸念がある場合、お気軽にお問い合わせください。
        rento0514mine@gmail.com
    </p>
