/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
 @import "bootstrap";

 .home-container {
  background-image: url(asset_path('lbc.jpg'));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.home-container .btn {
  margin-bottom: 25px; /* ボタン間のスペース */
}

.button-container {
  display: flex;
  flex-direction: column;
}

.calendar-container {
  margin-left: 180px;  /* 左からの距離 */
  margin-top: 100px;   /* 上からの距離 */
  background-color: rgba(84, 209, 251, 0.5); /* 背景色を薄っすら水色に */
}

.reservation-link {
  display: block;
  color: #006cfa; /* 文字色を白にする */
  background-color: #79ffe0; /* 背景色をトマト色にする */
  padding: 2px; /* パディングを追加して見た目を良くする */
  border-radius: 5px; /* 角を丸くする */
}

  .new-image {
    background-image: url('sact.jpg');
    display: flex;
    flex-direction: column;
    align-items: center; /* 左からのアラインメントをcenterに変更 */
    justify-content: center; /* 上からのアラインメントをcenterに追加 */
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .index-image {
    background-image: url('onsen.jpg');
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }
  

  .show-image {
    background-image: url('onsen.jpg'); /* 画像のURLは適宜修正してください */
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  h1.text-center {
    font-size: 4em; /* 文字の大きさを変更 */
    font-family: 'Itim', cursive; /* フォントを変更 */
    background-color: rgba(173, 216, 230, 0.5); /* 背景色を薄っすら水色に */
    display: inline-block; /* 長方形が文字にぴったり合うように */
    padding: 10px; /* 長方形の内側の余白を設定 */
  }

  .edit-image {
    background-image: url('sacheya.jpg'); /* 画像のURLは適宜修正してください */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .reservation-list {
    background-image: url('hamanako.jpg'); /* 画像のURLは適宜修正してね */
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

  .new-resevation {
    background-image: url('hamanako.jpg');
    display: flex;
    flex-direction: column;
    align-items: center; /* 左からのアラインメントをcenterに変更 */
    justify-content: center; /* 上からのアラインメントをcenterに追加 */
    background-size: cover;
    width: 100%;
    height: 100vh;
  }


  .reservation_show {
    background-image: url('hamanako.jpg');
    display: flex;
    flex-direction: column;
    align-items: center; /* 左からのアラインメントをcenterに変更 */
    justify-content: center; /* 上からのアラインメントをcenterに追加 */
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .reservation_show div {
    background-color: rgba(255, 255, 255, 0.7);  /* 背景色を薄っすら白に設定 */
    padding: 20px;
    border-radius: 10px;  /* 角を丸くする */
  }


  .tuuti_index {
    background-image: url('asiya.jpg');
    display: flex;
    flex-direction: column; 
    background-size: cover;
    width: 100%;
    height: 100vh;
    h1 {
      color: #333;
    }
    .card {
      &:hover {
        transform: scale(1.03);
        transition: 0.3s;
      }
      .card-title {
        color: #007bff;
      }
      .card-text {
        color: #6c757d;
      }
      .btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }